@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    list-style: none;

    font-family: 'Ubuntu', sans-serif;
}
body { 
    text-align: center;
    font-size: 24px;
    overflow: hidden;
}
#background{
    background: linear-gradient(136.31deg, #231927 14.16%, #281735 53.39%, #23193E 82.63%);
}
.container {
    text-align: center;
    padding: 20px;
}
/*Header*/
i {
    width: 100px;
    margin: 10px;
    color: white;
}
header a{
    text-decoration: none;
}
/*Main*/
h1, h2 {
    margin: 10px; 
    color: white;
}
#value input{
    padding: 5px;
    margin: 5px auto;
    border-radius: 8px;
    border: none;
    display: block;    
}
.option { 
    font-size: 1.2rem;
    color: white;
    margin: 10px;
    padding: 20px 20px;
    justify-content: space-between;
    text-align: center;
}
.button{
    padding: 20px;
    margin: 15px 0 5px 0;
    border: none;
    border-radius: 5px;    
    box-shadow: 5px 5px 5px #000 ;
    
    background-color: #8e69aa;
    color: white;
    cursor: pointer;
    text-align: center;
}
.button:hover{ 
    background-color: #b183d4;
    color: #000;
}
#result { 
    margin: 10px auto;
    color: white;
}

/*Footer*/
footer { 
    color: white;
    border-top: 1px solid #8e69aa;
    margin: 100px 0;
    padding: 10px; 
}
.img-imersao { 
    width: 200px;
    margin: 10px 0;
}
footer p{
    line-height: 50px;
}
